
body{
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    gap: 14em;
}
.carritocontenedor{
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
}